@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Marck+Script&display=swap');

*{
    font-family: "Bitter", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

$blue:#29d9d5;
$black:#111;
$white:#fff;
$light-color:#aaa;
$bg-color:#222;
$black-bg:rgba(17,17,17,.7);
$border:.2rem solid $blue;

/*
Controlando el comportamiento de scroll.
Aplicando una fuente más pequeña.
Personalizando el aspecto de la barra de desplazamiento.
Evitando que aparezca scroll lateral.*/
html{
    font-size: 65%; //Reduce el tamaño base de fuente (útil si estás usando unidades rem para tener mejor control).
                    //Por ejemplo, si el valor por defecto del navegador es 16px, ahora será 16px * 0.65 = 10.4px.
    
    overflow-x: hidden;//Oculta cualquier desplazamiento horizontal (evita barras de desplazamiento hacia los lados).
    scroll-behavior: smooth;//→ Hace que el scroll sea suave cuando navegas con anclas (#seccion, por ejemplo).
    scroll-padding-top: 9rem; //Añade espacio superior al hacer scroll con anclas, útil cuando tienes un navbar fijo (evita que se solape con el contenido).
   
    &::-webkit-scrollbar{ //Cambia el ancho de la barra de desplazamiento.
        width: 1.5rem;
    }
    &::-webkit-scrollbar-track{//Cambia el fondo de la pista de la barra (donde se desliza el scroll).
        background: $black;
    }
    &::-webkit-scrollbar-thumb{//Estiliza el "pulgar" del scroll (la parte que arrastras), con color azul y bordes redondeados.
        background: $blue;
        border-radius: 1rem;
    }
}

body{
    background-color: $black;
    overflow-x: hidden; //Evita el scroll horizontal.
}

.btn{
    margin-top: 1rem; //Añade un margen superior
    display: inline-block;
    padding: 1rem 3rem; //Añade espacio interno al botón.
    font-size: 1.7rem;
    color: $blue;
    border: $border;
    border-radius: 5rem;
    cursor: pointer;
    &:hover{
        background: $blue; //Cambia el fondo al azul al pasar el mouse.
        color: $black; //Cambia el color del texto a blanco al pasar el mouse.
        transition: all .3s ease-in-out; //Transición suave para cambios de estilo.
    }
}

.header{
    position: fixed; //Fija el header en la parte superior de la página.
    top: 0; //Posición en la parte superior.
    left: 0; //Posición a la izquierda.
    width: 100%; //Ancho completo de la pantalla.
    height: 7rem; //Altura del header.
    background-color: $bg-color; //Fondo oscuro con opacidad.
    display: flex; //Usa flexbox para alinear los elementos dentro del header.
    align-items: center; //Centra verticalmente los elementos dentro del header.
    justify-content: space-between; //Espacio entre los elementos del header.
    padding: 1.5rem 9%; //Espacio interno a los lados del header.
    //z-index: 1000; //Asegura que el header esté por encima de otros elementos.

    .navbar a {
        font-size: 1.7rem;
        color:$light-color;
        display: inline-block; //Permite que los elementos de la navbar se alineen horizontalmente.
        margin: 0 1rem;

        &:hover {
            color: $blue; //Cambia el color al azul al pasar el mouse sobre los enlaces de la navbar.
            transition: all .3s ease-in-out; //Transición suave para cambios de estilo.
        }
    }

    .logo{
        font-family: "Marck Script", cursive; //Fuente personalizada para el logo.
        font-size: 2.5rem; //Tamaño de fuente grande para el logo.
        color: $white; //Color blanco para el texto del logo.
        font-weight: bolder; //Negrita para el logo.
        text-transform: uppercase; //Transforma el texto a mayúsculas.
        letter-spacing: .2rem; //Espaciado entre letras para un efecto más estilizado.
        transition: all .3s ease-in-out; //Transición suave para cambios de estilo.

        &:hover{
            color: $blue; //Cambia el color al azul al pasar el mouse sobre el logo.
            transform: scale(1.1); //Escala ligeramente el logo al pasar el mouse sobre él.
        }

        i{
            color: $blue; //Color azul para el icono dentro del logo.
            font-size: 2.5rem; //Tamaño de fuente grande para el icono.
            margin-right: .5rem; //Espacio a la derecha del icono.
        }
    }
}

#main-btn{
    font-size: 2.5rem;
    color: $white;
    cursor: pointer;
    display: none; //Oculta el botón por defecto.
}

.section{
    padding: 3rem 9%; //Añade espacio interno a las secciones.
}

.home{
    margin: 0 auto; //Centrar el contenido de la sección.
    margin-top: 9rem; //Añade margen superior para evitar que el contenido se superponga con el header.
    width: 90%;
    border-radius: 1rem;
    //background: url(https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat; 
    background: linear-gradient($black-bg,$black-bg), url(https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) no-repeat; //Fondo de la sección con una imagen de Unsplash.
    background-size: cover; //Asegura que la imagen cubra todo el fondo.
    background-position: center; //Centra la imagen de fondo.
    display: flex;
    min-height: 80vh; //Altura mínima de la sección para ocupar toda la pantalla.
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content{
        text-align: center;
        span{
            font-weight: bolder;
            color: transparent;
            -webkit-text-stroke: .1rem $white;
            font-size: 4vw; //Tamaño de fuente grande para el texto.
        }
        h3{
            font-size: 2vw; //Tamaño de fuente grande para el título.
            color: $white; //Color blanco para el título.
        }
        p{
            max-width: 60rem;
            margin: 1rem auto; //Centrar el párrafo y añadir margen.
            font-size: 1.7rem; //Tamaño de fuente para el párrafo.
            color: $light-color;
            line-height: 2;
        }
    }
}


//Estilos para las secciones de la página About.
.about{
    display: flex;
    margin: 0 auto; //Centrar el contenido de la sección.
    justify-content: center;
    align-items: center;
    width: 90%; //Ancho máximo de la sección.
    flex-wrap: wrap; //Permite que los elementos se ajusten en varias líneas si es necesario.
    gap: 2rem; //Espacio entre los elementos.
    margin-top: 5rem;
    .img-container{
        flex:1 1 42rem; //Permite que la imagen ocupe el 42% del ancho disponible, con flexibilidad para crecer o encogerse.
        
        .img-video{
            border-radius: 1rem;
            width: 100%; //Asegura que la imagen ocupe todo el ancho del contenedor.
        }
    }
    .content{
        flex:1 1 42rem;
        margin-bottom: 5rem;

        span{
            color: $blue;
            font-size: 2rem;
        }
        h3{
            color: $white;
            font-size: 4rem;
            margin-top: .5rem;
        }
    }
}



















//Efectos de scroll y estilos de secciones.
@media(max-width:991px){
    html{
        font-size: 60%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .section{
    padding: 3rem 2rem;
    }

}
@media(max-width:770px){
    #main-btn{
        display: inline-block;
    }
    .header{
        .navbar{
            position: absolute; //Cambia la posición de la navbar a absoluta para que se superponga al contenido.
            background-color: $bg-color;
            top:99%; left: 0; right: 0;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); //Crea un efecto de clip para la navbar.

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); //Muestra la navbar al hacer clic en el botón.
                
            }
            a{
                margin: 2rem;
                font-size: 2rem; //Aumenta el tamaño de fuente de los enlaces en la navbar.
                display: block;
            }
        }
    }
    .home{
        margin-top: 10rem; //Aumenta el margen superior para evitar superposición con el header.
        .content{
            span{
                font-size: 8vw; //Aumenta el tamaño de fuente del span.
            }
            h3{
                font-size: 8vw; //Aumenta el tamaño de fuente del título.
            }
            p{
                font-size: 2rem; //Aumenta el tamaño de fuente del párrafo.
            }
        }
    }
}
@media(max-width:450px){
    html{
        font-size: 55%;
    }
}

